<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portfolio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cat_pc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cat_pc"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portfolio">
        <activity android:name=".activitieschat.Received" />
        <activity android:name=".activitieschat.MessageSending" />
        <activity android:name=".activitieslifecycle.SecondActivity" />
        <activity android:name=".activitieslifecycle.FirstActivity" />
        <activity android:name=".activitiessharedata.Sharedata" />
        <activity android:name=".activitiespassage.SecretActivity" />
        <activity android:name=".activitiespassage.PassageActivity" />
        <activity android:name=".complexholidaycard.HolidayCard" />
        <activity android:name=".complexrecap.Recap" />
        <activity android:name=".complexstudents.Students" />
        <activity android:name=".fragmentsslides.FragSlides" />
        <activity
            android:name=".fragmentsnavigationdrawer.NavDrawer"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.Portfolio.NoActionBar" />
        <activity android:name=".fragmentstabsapp.TabsApp" />
        <activity android:name=".projectmanager.TaskManager" />
        <activity android:name=".projectmanager.ProjectManager" />
        <activity android:name=".sharedpreferences.SharedPreferences" />
        <activity android:name=".stylescardviewhobby.CardViewHobby" />
        <activity android:name=".stylescollapsingtoolbar.CollapsingToolbar" />
        <activity android:name=".stylescostumdatetimepicker.CustomDateTimePicker" />
        <activity android:name=".retrofitmovies.NetworkingRetrofitMovies" />
        <activity android:name=".stylesbatterycontrol.StylesBatteryControl" />
        <activity android:name=".viewgroupsscrollarray.ViewGroupsScrollArray" />
        <activity android:name=".viewschallenge.ViewsChallange" />
        <activity android:name=".viewgroupslogin.ViewGroupsLogin" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.NoActionBar"
            android:label="@string/app_name"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>